    body, html {
      font-family: arial, sans-serif;
      font-size: 11pt;
    }
    .vis-item.vis-background.negative {
      background-color: red;
    }
    .negative {
      background-color: green;
    }
    #visualization {
      box-sizing: border-box;
      width: 100%;
      height: 300px;
    }